@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url(/fonts/RobotoMono-Light.ttf);
  font-weight: 200;
}

:root {
  font-size: 5vw;
}

p {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: default;
  font-family: "Lato", sans-serif;
  margin: 0;
  user-select: none;
}
#app {
  animation: fade-in 0.5s ease forwards;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 5.5vw;
  height: 5.5vw;
}
.icon-wrapper--single {
  padding: 5vw;
}
.menu-line {
  background-color: var(--color-background-lightest);
  display: inline-block;
  transition: all 0.3s ease;
  width: 5.5vw;
  height: 0.5vw;
}
.menu-line:last-child {
  width: 2.8vw;
}

.menu-wrapper.is-collapsed .menu-line:first-child {
  transform: rotate(-45deg);
  width: 3.3vw;
}
.menu-wrapper.is-collapsed .menu-line:last-child {
  transform: rotate(45deg);
  width: 3.3vw;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.titlebar {
  letter-spacing: 0.05em;
  margin-bottom: 5vw;
  position: relative;
  text-align: center;
  height: 13.9vw;
  display: flex;
  -webkit-app-region: drag;
}
.icon-wrapper--titlebar {
  -webkit-app-region: no-drag;
}
.icon-wrapper--titlebar:hover .menu-line {
  background-color: var(--color-accent);
}
.icon-wrapper--titlebar:hover .icon--close line {
  stroke: var(--color-focus-round);
}
.icon-wrapper--titlebar:hover .icon--minimize line {
  stroke: var(--color-accent);
}

.icon--close line,
.icon--minimize line {
  stroke: var(--color-background-lightest);
  transition: all 0.3s ease;
}

.icon-wrapper--double--left {
  padding: 5vw 2.5vw 5vw 5vw;
}

.icon-wrapper--double--right {
  padding: 5vw 5vw 5vw 2.5vw;
}

.title {
  color: var(--color-focus-round);
  font-size: 1rem;
  font-weight: 200;
  padding-top: 1vw;
  padding-left: 7vw;
  flex-grow: 1;
}

.icon-group {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dial-time {
  font-family: "RobotoMono", monospace;
  font-size: 12.7vw;
  margin: 0;
  position: absolute;
  top: 32%;
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
}

.dial-bg {
  stroke: var(--color-background-lightest);
}

.dial-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  position: relative;
}
.dial-label {
  letter-spacing: 0.1em;
  position: absolute;
  top: 66%;
  z-index: 1000;
}
.dial-label input {
  background-color: var(--color-background);
  border: none;
  text-transform: uppercase;
  width: 8rem;
  text-align: center;

  font-size: 1.1rem;
}

input:focus {
  outline: 0;
}

.dial-bg {
  stroke: var(--color-background-lightest);
}
.dial-fill {
  position: absolute;
  transform-origin: center;
  -webkit-app-region: no-drag;
}
.dial-fill--work {
  stroke: var(--color-focus-round);
}
.dial-fill--shortBreak {
  stroke: var(--color-short-round);
}
.dial-fill--longBreak {
  stroke: var(--color-long-round);
}

.container {
  padding: 0 5vw;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 5.5vw 0;
}

.button {
  border: 0.56vw solid var(--color-background-lightest);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  width: 13.8vw;
  height: 13.8vw;
  -webkit-app-region: no-drag;
}

.button-icon-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
}

.button:hover .icon--pause line {
  stroke: var(--color-accent);
}
.button:hover .icon--start polygon {
  fill: var(--color-accent);
}

.button:hover {
  background-color: var(--color-background-light);
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.round-wrapper {
  text-align: center;
}
.round-wrapper .total-rounds {
  color: var(--color-foreground-darker);
  font-size: 0.7rem;
}

.icon--mute path {
  transition: all 0.3s ease;
}
.icon--muted path {
  transition: all 0.3s ease;
}
.icon-wrapper:hover .icon--muted path:first-child {
  fill: var(--color-accent);
}
.icon-wrapper:hover .icon--mute path {
  fill: var(--color-accent);
}
.icon-wrapper:hover .icon--skip polygon,
.icon-wrapper:hover .icon--skip rect {
  fill: var(--color-accent);
}
.icon--skip polygon,
.icon--skip rect {
  transition: all 0.3s ease;
}

.text-button {
  color: var(--color-foreground-darker);
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin-top: 3.3vw;
  transition: all 0.3s ease;
}
.text-button:hover {
  color: var(--color-accent);
}

#volume-slider.slider-wrapper {
  padding: 8px;
  position: absolute;
  top: -61px;
  right: -29px;
}
.slider::-webkit-slider-runnable-track {
  background-color: var(--color-background-lightest);
}

.slider::-webkit-slider-thumb {
  margin-top: -7px;
  transition: all 0.3s ease;
}

.slider-wrapper--vert {
  transform: rotate(-90deg);
}
.slider {
  position: relative;
  width: 100%;
}
.slider:focus {
  outline: 0;
}

.slider-bar {
  position: absolute;
  height: 0.83vw;
  top: calc(50% + 0.83vw);
}
.slider-bar--blue {
  background-color: var(--color-long-round);
}
.slider-bar--blue-grey {
  background-color: var(--color-background-lightest);
}
.slider-bar--green {
  background-color: var(--color-short-round);
}
.slider-bar--red {
  background-color: var(--color-focus-round);
}

#volume-slider input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color-accent);
}

#volume-slider input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-background-lightest);
}

input[type="range"] {
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.83vw;
  background-color: var(--color-background);
  border: none;
  /*border-radius: 3px;*/
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  margin-top: -2.2vw;
  width: 5vw;
  height: 5vw;
}

#volume-slider {
  display: none;
}

#drawer {
  background-color: var(--color-background-light);
  position: relative;
  width: 100%;
  height: calc(100% - 18.89vw);
  z-index: 1;
  -webkit-app-region: no-drag;
}

.drawer-heading {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding-top: 2.8vw;
  text-align: center;
}

.drawer-menu {
  background-color: var(--color-background);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
}
.drawer-menu-wrapper {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  height: 100%;
}
.drawer-menu-wrapper:hover {
  background-color: var(--color-background-light);
}
.drawer-menu-wrapper::after {
  background-color: var(--color-accent);
  content: "";
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  width: 0;
  height: 0.5vw;
}
.drawer-menu-wrapper.is-active::after {
  width: 33%;
}
.drawer-menu-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 12.5vw;
  height: 100%;
}
.drawer-menu-button.is-active {
  border-bottom: 1.1vw solid var(--color-accent);
}

.setting-wrapper {
  text-align: center;
  margin: 3.3vw 0;
}

.setting-title {
  color: var(--color-foreground-darker);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.setting-value {
  background-color: var(--color-background);
  border-radius: 1.1vw;
  display: inline-block;
  font-family: "RobotoMono", monospace;
  font-size: 3.3vw;
  padding: 0.56vw 1.6vw;
}

.setting-input {
  background-color: var(--color-background);
  display: inline-block;
  font-family: "RobotoMono", monospace;
  font-size: 3.3vw;
  color: var(--color-foreground);
  border: none;
}
.setting-input:focus {
  outline: none;
}
#drawer .slider-wrapper {
  position: relative;
}

.slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  width: 100%;
  height: 0.83vw;
}
.slider::-webkit-slider-thumb {
  background-color: var(--color-background-lightest);
  border: 2px solid var(--color-background-lightest);
  border-radius: 100%;
  margin-top: -2.2vw;
  width: 5vw;
  height: 5vw;
  -webkit-appearance: none;
  -webkit-app-region: no-drag;
}
.slider--blue::-webkit-slider-thumb {
  background-color: var(--color-long-round);
  border: 0.56vw solid var(--color-long-round);
  -webkit-app-region: no-drag;
}
.slider--green::-webkit-slider-thumb {
  background-color: var(--color-short-round);
  border: 0.56vw solid var(--color-short-round);
  -webkit-app-region: no-drag;
}
.slider--red::-webkit-slider-thumb {
  background-color: var(--color-focus-round);
  border: 0.56vw solid var(--color-focus-round);
  -webkit-app-region: no-drag;
}

.checkbox {
  background-color: var(--color-background);
  border: 0.56vw solid var(--color-background-lightest);
  border-radius: 100%;
  display: inline-block;
  transition: all 0.3s ease;
  width: 4.4vw;
  height: 4.4vw;
}
.checkbox:hover {
  border-color: var(--color-accent);
}
.checkbox.is-active {
  background-color: var(--color-accent);
  border-color: var(--color-background);
}
.checkbox.is-active:hover {
  background-color: var(--color-accent);
  border-color: var(--color-background-lightest);
}

#settings .setting-wrapper {
  background-color: var(--color-background);
  border-radius: 1.1vw;
  display: flex;
  justify-content: space-between;
  margin: 3.3vw 0;
  padding: 3.3vw;
  cursor: pointer;
}

#settings .setting-button {
  color: var(--color-foreground);
  background-color: var(--color-background);
  cursor: pointer;
  padding-bottom: 0.7vw;
  display: inline-block;

  font-size: 0.7rem;
}

#settings .setting-button.active {
  color: var(--color-accent);
  font-weight: bold;
  border-bottom: 1.2vw solid var(--color-accent);
  cursor: default;
}

#settings .setting-button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  margin-right: 0.3rem;
}

#settings .setting-button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  margin-left: 0.3rem;
}

#settings .setting-wrapper-multi {
  background-color: var(--color-background);
  border-radius: 1.1vw;
  justify-content: space-between;
  margin: 3.3vw 0;
  padding: 3.3vw;
}

#settings .setting-wrapper-multi .setting-wrapper {
  margin: 0;
  padding: 0;
  cursor: default;
  text-align: left;
}

#about h2 {
  color: var(--color-short-round);
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0.5em 0;
}

#about .label {
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  line-height: 2;
}

#about .label .link,
#about .label.link {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-accent);
}
#about .label .link:hover,
#about .label.link:hover,
#about .label .link:visited,
#about .label.link:visited {
  color: var(--color-accent);
}

#about section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  height: 100%;
}

#theme .setting-wrapper {
  align-items: center;
  border-left: 3px solid;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  min-height: 48px;
  padding: 0 12px;
  cursor: pointer;
}

#drawer .container {
  max-height: calc(100% - 10vw);
  overflow-y: auto;
}
