@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono";
  src: url(/fonts/RobotoMono-Light.ttf);
  font-weight: 200;
}

:root {
  --color-long-round: #0bbddb;
  --color-short-round: #05ec8c;
  --color-focus-round: #ff4e4d;
  --color-background: #2f384b;
  --color-background-light: #3d4457;
  --color-background-lightest: #858c99;
  --color-foreground: #f6f2eb;
  --color-foreground-darker: #c0c9da;
  --color-foreground-darkest: #dbe1ef;
  --color-accent: #05ec8c;
}

p {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: default;
  font-family: "Lato", sans-serif;
  margin: 0;
  user-select: none;
}
#app {
  animation: fade-in 0.5s ease forwards;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.icon-wrapper--single {
  padding: 18px;
}
.menu-line {
  background-color: var(--color-background-lightest);
  display: inline-block;
  transition: all 0.3s ease;
  width: 20px;
  height: 2px;
}
.menu-line:last-child {
  width: 10px;
}

.menu-wrapper.is-collapsed .menu-line:first-child {
  transform: rotate(-45deg);
  width: 12px;
}
.menu-wrapper.is-collapsed .menu-line:last-child {
  transform: rotate(45deg);
  width: 12px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
.titlebar {
  letter-spacing: 0.05em;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  height: 50px;
  display: flex;
  -webkit-app-region: drag;
}
.icon-wrapper--titlebar {
  -webkit-app-region: no-drag;
}
.icon-wrapper--titlebar:hover .menu-line {
  background-color: var(--color-accent);
}
.icon-wrapper--titlebar:hover .icon--close line {
  stroke: var(--color-focus-round);
}
.icon-wrapper--titlebar:hover .icon--minimize line {
  stroke: var(--color-accent);
}

.icon--close line,
.icon--minimize line {
  stroke: var(--color-background-lightest);
  transition: all 0.3s ease;
}

.icon-wrapper--double--left {
  padding: 18px 9px 18px 18px;
}

.icon-wrapper--double--right {
  padding: 18px 18px 18px 9px;
}

.title {
  color: var(--color-short-round);
  font-size: 1rem;
  font-weight: 200;
  padding-top: 4px;
  padding-left: 40px;
  flex-grow: 1;
}

.icon-group {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dial-time {
  font-family: "RobotoMono", monospace;
  font-size: 46px;
  margin: 0;
  position: absolute;
  top: 32%;
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
}

.dial-bg {
  stroke: var(--color-background-lightest);
}

.dial-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  position: relative;
}
.dial-label {
  letter-spacing: 0.1em;
  position: absolute;
  top: 66%;
  text-transform: uppercase;
}
.dial-bg {
  stroke: var(--color-background-lightest);
}
.dial-fill {
  position: absolute;
  transform-origin: center;
  -webkit-app-region: no-drag;
}
.dial-fill--work {
  stroke: var(--color-focus-round);
}
.dial-fill--shortBreak {
  stroke: var(--color-short-round);
}
.dial-fill--longBreak {
  stroke: var(--color-long-round);
}

.container {
  padding: 0 18px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.button {
  border: 2px solid var(--color-background-lightest);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  -webkit-app-region: no-drag;
}

.button-icon-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
}

.button:hover .icon--pause line {
  stroke: var(--color-accent);
}
.button:hover .icon--start polygon {
  fill: var(--color-accent);
}

.button:hover {
  background-color: var(--color-background-light);
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.round-wrapper {
  text-align: center;
}
.round-wrapper .total-rounds {
  color: var(--color-foreground-darker);
  font-size: 0.7rem;
}

.icon--mute path {
  transition: all 0.3s ease;
}
.icon--muted path {
  transition: all 0.3s ease;
}
.icon-wrapper:hover .icon--muted path:first-child {
  fill: var(--color-accent);
}
.icon-wrapper:hover .icon--mute path {
  fill: var(--color-accent);
}
.icon-wrapper:hover .icon--skip polygon,
.icon-wrapper:hover .icon--skip rect {
  fill: var(--color-accent);
}
.icon--skip polygon,
.icon--skip rect {
  transition: all 0.3s ease;
}

.text-button {
  color: var(--color-foreground-darker);
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-top: 12px;
  transition: all 0.3s ease;
}
.text-button:hover {
  color: var(--color-accent);
}

#volume-slider.slider-wrapper {
  padding: 8px;
  position: absolute;
  top: -61px;
  right: -29px;
}
.slider::-webkit-slider-runnable-track {
  background-color: var(--color-background-lightest);
}

.slider::-webkit-slider-thumb {
  margin-top: -7px;
  transition: all 0.3s ease;
}

.slider-wrapper--vert {
  transform: rotate(-90deg);
}
.slider {
  position: relative;
  width: 100%;
}
.slider:focus {
  outline: 0;
}

.slider-bar {
  position: absolute;
  top: calc(50% + 3px);
  height: 3px;
}
.slider-bar--blue {
  background-color: var(--color-long-round);
}
.slider-bar--blue-grey {
  background-color: var(--color-background-lightest);
}
.slider-bar--green {
  background-color: var(--color-short-round);
}
.slider-bar--red {
  background-color: var(--color-focus-round);
}

#volume-slider input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color-accent);
}

#volume-slider input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-background-lightest);
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background-color: var(--color-background);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
}

#volume-slider {
  display: none;
}

#drawer {
  background-color: var(--color-background-light);
  position: relative;
  width: 100%;
  height: calc(100% - 68px);
  z-index: 1;
  -webkit-app-region: no-drag;
}

.drawer-heading {
  font-size: 14px;
  letter-spacing: 0.05rem;
  padding-top: 10px;
  text-align: center;
}

.drawer-menu {
  background-color: var(--color-background);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
}
.drawer-menu-wrapper {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  height: 100%;
}
.drawer-menu-wrapper:hover {
  background-color: var(--color-background-light);
}
.drawer-menu-wrapper::after {
  background-color: var(--color-accent);
  content: "";
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.07, 0.95, 0, 1);
  width: 0;
  height: 2px;
}
.drawer-menu-wrapper.is-active::after {
  width: 33%;
}
.drawer-menu-button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 100%;
}
.drawer-menu-button.is-active {
  border-bottom: 4px solid var(--color-accent);
}

.setting-wrapper {
  margin: 10px 0;
  text-align: center;
}

.setting-title {
  color: var(--color-foreground-darker);
  font-size: 14px;
  letter-spacing: 0.05em;
}

.setting-value {
  background-color: var(--color-background);
  border-radius: 4px;
  display: inline-block;
  font-family: "RobotoMono", monospace;
  font-size: 12px;
  padding: 2px 6px;
}

.setting-input {
  background-color: var(--color-background);
  display: inline-block;
  font-family: "RobotoMono", monospace;
  font-size: 12px;
  color: var(--color-foreground);
  border: none;
}
.setting-input:focus {
  outline: none;
}
#drawer .slider-wrapper {
  position: relative;
}

.slider::-webkit-slider-runnable-track {
  background-color: var(--color-background);
  width: 100%;
  height: 3px;
}
.slider::-webkit-slider-thumb {
  background-color: var(--color-background-lightest);
  border: 2px solid var(--color-background-lightest);
  border-radius: 100%;
  margin-top: -8px;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -webkit-app-region: no-drag;
}
.slider--blue::-webkit-slider-thumb {
  background-color: var(--color-long-round);
  border: 2px solid var(--color-long-round);
  -webkit-app-region: no-drag;
}
.slider--green::-webkit-slider-thumb {
  background-color: var(--color-short-round);
  border: 2px solid var(--color-short-round);
  -webkit-app-region: no-drag;
}
.slider--red::-webkit-slider-thumb {
  background-color: var(--color-focus-round);
  border: 2px solid var(--color-focus-round);
  -webkit-app-region: no-drag;
}

.checkbox {
  background-color: var(--color-background);
  border: 2px solid var(--color-background-lightest);
  border-radius: 100%;
  display: inline-block;
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
}
.checkbox:hover {
  border-color: var(--color-accent);
}
.checkbox.is-active {
  background-color: var(--color-accent);
  border-color: var(--color-background);
}
.checkbox.is-active:hover {
  background-color: var(--color-accent);
  border-color: var(--color-background-lightest);
}

#settings .setting-wrapper {
  background-color: var(--color-background);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  padding: 12px;
  cursor: pointer;
}

#about h2 {
  color: var(--color-short-round);
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0.5em 0;
}

#about .label {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 2;
}

#about .label .link,
#about .label.link {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-accent);
}
#about .label .link:hover,
#about .label.link:hover,
#about .label .link:visited,
#about .label.link:visited {
  color: var(--color-accent);
}

#about section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  height: 100%;
}

#drawer .container {
  max-height: calc(100% - 36px);
  overflow-y: auto;
}
