name: CI

on:
  pull_request:
  push:
    branches: [main]

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  linting:
    name: Lint python and elm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libasound2-dev
        shell: sh

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend dependencies
        run: npm install

      - name: Run elm-review
        run: npm run review

      - name: Run pre-commit hooks on all files
        run: uv run pre-commit run --all-files

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features --manifest-path src-tauri/Cargo.toml

  rust_testing:
    name: Test rust code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libasound2-dev

      - name: Update Rust
        run: rustup update stable && rustup default stable

      - name: Run cargo test
        run: cargo test --verbose --manifest-path src-tauri/Cargo.toml
